.dashboardPageContainer {
  position: relative;

  @media (min-width: 1024px) {
    background-color: #f7f9fb;
  }
}
.dashboardPageContainer header {
  @media (min-width: 1024px) {
    display: none;
  }
}
.headerFromWebVersion {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 20px;
  }
}
.headerFromWebVersionDiv {
  border: 1px solid #d8d8d8;
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 7px;
  border-radius: 19px;
  background-color: #fff;
}

.containerDashboard {
  padding: 16px 20px;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 15px;
  height: 145px;
}
.responsiveContainerDashboard {
  @media (min-width: 1024px) {
    margin-left: 300px;
    display: flex;
    flex-direction: row;
  }
}
.responsiveContainerCategoriesCards {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}
.cardsUL {
  @media (min-width: 1024px) {
    width: 60%;
    overflow-y: auto;
    height: 70vh;
  }
}
.headerDivDashBoard {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownButton {
  background: none;
  border: none;
}

.sideMenuBar {
  width: 75%;
  height: 100vh;
  padding: 16px 20px;
  background-color: #fff;
  border-radius: 17px;
  border-right: 1px solid #d7d7d7;
  box-shadow: 24px 0px 200px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: -1000px;
  transition: left 0.3s ease;

  @media (min-width: 1024px) {
    left: 0;
    width: 100%;
    max-width: 300px;
    box-shadow: none;
  }
}

.sideMenuBar.open {
  left: 0;
}

.sideMenuBarCloseButtonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideMenuBarCloseButtonDiv button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  @media (min-width: 1024px) {
    display: none;
  }
}
.sideMenuItensContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.sideMenuItens {
  display: flex;
  align-items: center;
  gap: 10px;
}

.DashContainer {
  padding: 16px 20px;
  @media (min-width: 1024px) {
    width: 100%;
    height: 100vh;
  }
}
.playbookTitle {
  margin-bottom: 20px;
  margin-top: 15px;
  @media (min-width: 1024px) {
    display: none;
  }
}

.navigationToCreateCard {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid blue;
}

.ellipseButton {
  position: relative;
}

.ellipseCircle {
  position: relative;
}

.cornerContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 16px;
}

.ellipseContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.plusSignalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.categoriesBox {
  height: 260px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  padding: 6px 6px;
  @media (min-width: 1024px) {
    height: 70vh;
    background-color: #fff;
  }
}
.categoriesBox ul {
  overflow-y: auto;
  height: 200px;
  @media (min-width: 1024px) {
    height: 90%;
    background-color: #fff;
  }
}
.categoriesBox p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.categoriesBoxTitle {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 6px;
}

.cardContainer {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  height: 200px;
  margin-top: 30px;
  padding: 8px 6px;
  @media (min-width: 1024px) {
    background-color: #fff;
  }
}
.cardBoxTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 9px;
}

.cardBoxTitle button {
  border-radius: 60px;
  background: #476ee6;
  border: none;
  padding: 10px;
}
