.pageContainer {
  height: 100vh;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.checkBoxContainer {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  max-width: 324px;
  width: 100%;
  
}

.formRegister{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.logoTittleContainer{
  width: 100%;
  max-width: 320px;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
  margin-bottom: 20px;
}